<div class="profileVideo d-flex justify-content-center">
    <video autoplay muted loop plays-inline>
        <source src="https://res.cloudinary.com/dalk1vcw9/video/upload/v1663273316/background-video-d-01_gcjutm.mp4">
    </video>
</div>

<div class="row">
    <div class="d-flex justify-content-center text-light mt-3">
        <p class="h3 mx-5"><span class="text-warning">{{foundUser.summonerName}}</span> Level: {{lvl}}</p>
        <p class="h3 mx-5"> Role: <span class="text-warning">{{foundUser.role}}</span></p>
    </div>
    <div class="profileDecoration mt-3">
        <img src="/images/lolDecoration.png">
    </div>
</div>

<div class="profileCard card text-center mt-3">
    <div class="card-header h1 text-warning">
        {{info.[0].tier}} {{info.[0].rank}}
    </div>
    <div class="card-body">
        <p class="mb-3 h2 text-light">League Points: {{info.[0].leaguePoints}}</p>
        <p class="mb-3 h2 text-light">Wins: {{info.[0].wins}}</p>
        <p class="mb-5 h2 text-light">Losses: {{info.[0].losses}}</p>
        <div class="mt-5">
            <a class="btnProfile p-3 mx-2" href="/profile/{{foundUser._id}}/update" class="card-link">Update</a>
            <a class="btnProfile p-3 mx-2" href="/profile/{{foundUser._id}}/delete" class="card-link">Delete</a>
        </div>
        <div class="card-footer mt-5">
            <p class="text-warning h3"> {{foundUser.username}} Profile</p>
        </div>
    </div>
</div>