<div class="row g-0 bg-dark position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="{{image}}" class="champImage w-100" alt="champImage">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <p class="text-warning h2">{{name}} : <span class="h4">{{title}}</span> </p>
        <p class="text-light"><span class="text-secondary title h5">Story:</span> {{lore}} </p><br>
        <p class="text-light"><span class="text-secondary title h5">Ally Tips:</span> {{allytips.[0]}}</p><br>
        <p class="text-light"><span class="text-secondary title h5">Enemy Tips:</span> {{enemytips.[0]}}</p><br>
        <p class="text-light"><span class="text-secondary title h5">Passive Skill</span></p>
        <p class="text-light"><span class="text-secondary title h6">Name:</span> {{passive.name}}</p>
        <p class="text-light"><span class="text-secondary title h6">Description:</span> {{passive.description}}</p>
        <a href="/championsList" class="btn btn-warning mt-3 d-flex justify-content-center flex-end">Go back</a>
    </div>
</div>